body {
  background-color:#F8F8F8 ;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat-Regular.ttf') ;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face{
    font-family: 'Montserrat-Light';
    src: url('./assets/fonts/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fonts/Montserrat-Bold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fonts/Montserrat-Medium.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  a {
    text-decoration: none;
  }

