.Filter img {
    display: block;
    height: 3.7rem;
    width: 3.7rem;
    margin: 0 auto;
}

.Filter h3 {
    text-align: center;
    margin: 0;
    margin-top: .4rem;
}

.Dropmenu{
    font-family: "Montserrat-Bold";
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    width: 10rem;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    border: solid #0C3831 0.1rem;
    flex-direction: column;
    border-radius: .8rem;
    gap: .4rem;
    transform: translateX(-30%);
    color: #0C3831;
}

ul li:hover .Dropmenu {
    display: flex;
    gap: .4rem;
    flex-direction: column;
}
