
.Container {
    margin: 0 auto;
    margin-top: 1rem;
    width: clamp(20rem, 80vw, 70rem);
    padding: 0 1rem;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #B0ADAD;
    color: #0C3831;
    font-family: "Montserrat-Medium";
    border-radius: 0.9rem;
    z-index: 1;
    position: relative;
}

.Container h1 {
    display: block;
    text-align: center;
    font-family: "Montserrat-ExtraBold";
    font-size: 3rem;
    color: #0C3831;
}
.Option label {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.Option {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.Option input {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.Option .Single {
  width: auto;
}

.DoubleOption {
    width: initial;
    display: flex;
    justify-content: space-around;
}

.Container button {
    display: block;
    margin: 2rem auto;
    background-color: #E6BC40;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    width: 14rem;
    font-family: 'Montserrat-Bold';
    border: 0;
    transition: .5s;
}

.Container button:disabled {
    background-color: grey;
    cursor: default;
}

.Container p {
    text-align: center;
    color: #d93025;
    font-size: 1.2rem;
}

.ImageContainer {
    height: 19.5rem;
    width: clamp(20rem, 80vw, 40rem);
    height: clamp(15rem, 70vw, 35rem);
    margin: 0 auto;
    border: .1rem solid #0C3831;
}

.ImageContainer img {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.ImageContainer p {
    display: block;
    color: #0C3831;
    margin: 25% auto;
}

.Wave {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}

.GoBack {
    z-index: 1;
    position: relative;
    display: block;
    background-color: #E6BC40;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    width: 14rem;
    font-family: 'Montserrat-Bold';
    border: 0;
    transition: .5s;
    margin-left: 25%;
    margin-top: 1rem;
}

.GoBack:hover {
    background-color: #E6A440;
}

.GoBack:active {
    background-color: #E6BC40;
}

.TemperamentsContainer {
    display: grid;
    gap: .4rem;
    width: 100%;
    max-height: 60rem;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fit, minmax(7.4rem, 1fr));
}

.TemperamentsContainer button {
    justify-self: center;
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat-Bold';
    color: #0C3831;
    border: solid #0C3831 .1rem;
    border-radius: .2rem;
    background-color: white;
    word-wrap: break-word;
    cursor: pointer;
    transition: .2s;
    font-size: .8rem;
    margin: 0;
    width: 7.6rem;
    height: 2.2rem;
}

.TemperamentsContainer button:hover {
    color: white;
    background-color: #E6BC40;
}

.TemperamentsContainer button:active {
    background-color: #E6A440;
}

.TemperamentsContainer .Pressed {
    background-color: #E6BC40;
    color: white;
}

.TemperamentsContainer .Delete {
    grid-column-end: span 2;
    width: 100%;
    color: white;
    background-color: #E6BC40;
    font-size: 1.1rem;
}

.TemperamentsContainer .Delete:hover {
    background-color: #E6A440;
}

.TemperamentsContainer .Delete:active {
    background-color: #E6BC40;
}

.AdvertiseContainer{
    opacity: 0.5;
    background-color: #bdbabb;
    position: fixed;
    z-index: 9998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.Advertise{
    color: #0C3831 ;
    font-family: "Montserrat-Regular";
    flex-direction: column;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    border: #0C3831 solid .1rem;
    min-height: 25rem;
    max-width: 30rem;
    border-radius: .8rem;
    padding: 0 2rem;
}

.Advertise h1{
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    color: #754b57;
    text-align: center;
    min-width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.Advertise img{
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}

.ButtonsContainer {
    display: flex;
    justify-content: space-between;
}

.ButtonsContainer button, .ButtonsContainer a {
    z-index: 1;
    position: relative;
    display: block;
    background-color: #E6BC40;
    height: 3rem;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: .5rem;
    width: 7rem;
    font-family: 'Montserrat-Bold';
    border: 0;
    transition: .5s;
    margin-top: 1rem;
}

.ButtonsContainer a {
    text-align: center;
    line-height: 3rem;
}

.ButtonsContainer button:hover, .ButtonsContainer a:hover {
    background-color: #E6A440;

}

.ButtonsContainer button:active, .ButtonsContainer a:active {
    background-color: #E6BC40;
}
