
.Container {
    margin: 0 auto;
    margin-top: 1rem;
    width: 60rem;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #B0ADAD;
    color: #0C3831;
    font-family: "Montserrat-Medium";
    border-radius: 0.9rem;
    z-index: 1;
    position: relative;
}

.Container h1 {
    display: block;
    text-align: center;
    font-family: "Montserrat-ExtraBold";
    font-size: 3rem;
    color: #0C3831;
}
.Option label {
    display: block;
}

.Option {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.DoubleOption {
    width: initial;
    display: flex;
    justify-content: space-around;
}

.Container button {
    display: block;
    margin: 2rem auto;
    background-color: #E6BC40;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    width: 14rem;
    font-family: 'Montserrat-Bold';
    border: 0;
    transition: .5s;
}

.Container button:disabled {
    background-color: grey;
    cursor: default;
}

.Container p {
    text-align: center;
    color: #d93025;
    font-size: 1.2rem;
}

.ImageContainer {
    height: 19.5rem;
    width: 30rem;
    margin: 0 auto;
    border: .1rem solid #0C3831;
}

.ImageContainer img {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.Wave {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}

.GoBack {
    z-index: 1;
    position: relative;
    display: block;
    background-color: #E6BC40;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    width: 14rem;
    font-family: 'Montserrat-Bold';
    border: 0;
    transition: .5s;
    margin-left: 25%;
    margin-top: 1rem;
}

.GoBack:hover {
    background-color: #E6A440;
}

.GoBack:active {
    background-color: #E6BC40;
}

.TemperamentsContainer {
    display: grid;
    gap: .3rem;
    grid-template-columns: repeat(7,1fr);
}

.TemperamentsContainer button {
    display: inline;
    font-family: 'Montserrat-Bold';
    color: #0C3831;
    border: solid #0C3831 .1rem;
    border-radius: .2rem;
    background-color: white;
    word-wrap: break-word;
    cursor: pointer;
    transition: .2s;
    font-size: .8rem;
    margin: 0;
    width: 7.8rem;
    height: 2.2rem;
}

.TemperamentsContainer button:hover {
    color: white;
    background-color: #E6BC40;
}

.TemperamentsContainer button:active {
    background-color: #E6A440;
}

.TemperamentsContainer .Pressed {
    background-color: #E6BC40;
    color: white;
}

.TemperamentsContainer .Delete {
    grid-column-end: span 2;
    width: auto;
    color: white;
    background-color: #E6BC40;
    font-size: 1.1rem;
}

.TemperamentsContainer .Delete:hover {
    background-color: #E6A440;
}

.TemperamentsContainer .Delete:active {
    background-color: #E6BC40;
}
