.Container {
    padding-top: 1.5rem;
    padding-bottom: .4rem;
}

.Filters {
    display: flex;
    gap: 15%;
    font-family: 'Montserrat-Regular';
    font-size: .8rem;
    color: white;
    list-style-type: none;
    min-width: 25rem;
    margin: 0;
}



