.Container {
    padding-top: 1.5rem;
    padding-bottom: .4rem;
}

.Filters {
    display: flex;
    font-family: 'Montserrat-Regular';
    font-size: .8rem;
    color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.Filters li {
  margin: 0 clamp(1rem, 1vw, 10rem);
}





