.Container {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: 10rem;
    justify-content: center;
}

.Button {
    background-color: #E6BC40;
    color: white;
    border: 0;
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
    font-family: "Montserrat-Medium";
    cursor: pointer;
    transition: .5s ;
}

.Button:hover {
    background-color: #E6A440;
}

.Button:active {
    background-color: #E6BC40;
}

.CurrentButton {
    background-color: #E6A440;
}
