.Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 3rem;
    column-gap: 1%;
    padding: 0 3%;
    padding-top: 10rem;
    min-height: 57vh;
}

.Error {
    font-family: "Montserrat-SemiBold";
    text-align: center;
    color: #d93025;
    font-size: 1.8rem;
    grid-column: 2;
}