.Filter img {
    display: block;
    height: clamp(1rem, 2vw + 2rem, 3.7rem);
    width: clamp(1rem, 2vw + 2rem, 3.7rem);
    margin: 0 auto;
}

.Filter h3 {
    text-align: center;
    margin: 0;
    margin-top: .4rem;
}

.Dropmenu{
    font-family: "Montserrat-Bold";
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    border: solid #0C3831 .1rem;
    color: #0C3831;
    flex-direction: column;
    border-radius: .8rem;
    gap: .4rem;
    transform: translateX(-20%);
}

ul li:hover .Dropmenu {
    display: flex;
    gap: .4rem;
    flex-direction: column;
}

.TemperamentsContainer {
    display: grid;
    gap: .3rem;
    grid-template-columns: repeat(7,1fr);
}

.TemperamentsContainer button {
    font-family: 'Montserrat-Bold';
    color: #0C3831;
    width: 7.8rem;
    height: 2.2rem;
    border: solid #0C3831 .1rem;
    border-radius: .2rem;
    background-color: white;
    word-wrap: break-word;
    cursor: pointer;
    transition: .2s;
    font-size: .8rem;
}

.TemperamentsContainer button:hover {
    color: white;
    background-color: #E6BC40;
}

.TemperamentsContainer button:active {
    background-color: #E6A440;
}

.TemperamentsContainer .Pressed {
    background-color: #E6BC40;
    color: white;
}

.TemperamentsContainer .Delete {
    grid-column-end: span 2;
    width: auto;
    color: white;
    background-color: #E6BC40;
    font-size: 1.1rem;
}

.TemperamentsContainer .Delete:hover, .FilterButton:hover {
    background-color: #E6A440;
}

.TemperamentsContainer .Delete:active, .FilterButton:active {
    background-color: #E6BC40;
}

.FilterButton { 
    background-color: #E6BC40;
    grid-column-end: span 2;
    font-family: 'Montserrat-ExtraBold';
    color: white;
    border: solid #0C3831 .1rem;
    background-color: #E6BC40;
    height: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.Filter {
    padding: .2rem;
    border: .2rem solid transparent;
}

.Filter.Active {
    border: .2rem solid #64B494;
    border-radius: .3rem;
}
